
/*========================================================
        COLORS
=========================================================*/

$primary:#2F2E8B;
$violet:#5443C3;
$violet-light: #DDD9F7;
$cream: #F4F4F4;
$gray-dark: #201D1D;