

@media (max-width: 767px) {
  #about{
    &>.card{
      margin-top: 100px;
      padding-top: 80px;
      padding-bottom: 30px;
      position: relative;
      .img-profile{
        width: 150px;
        position: absolute;
        top: -75px;
        left: calc(50% - 75px);
      }
      .btn-primary{
        position: absolute;
        bottom: -20px;
      }
    }
    h2.title{
      margin-top: 2.5rem !important;
    }
    
  }
}