*:focus{
  outline: none;
}
body{
  background: $cream;
  font-family: 'Roboto', sans-serif;
}

.content-layout{
  position: relative;
  margin-left: 225px;
  padding: 1rem 1.5rem;
  padding-bottom: 60px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  &.wide{
    margin-left: 80px !important;
  }
}
.content{
  @apply mt-8;
  /* min-height: calc(100vh - 50px); */
}
@media (max-width: 600px) {
  .content-layout{
    padding: 1rem 0.5rem;
    padding-bottom: 90px;
  }
}
.loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &-screen{
    height: calc(100vh - 200px);
    &::before{
      background: transparent !important;
    }
  }
}

.loader::before{
  content: "";
  display: block;
  position: absolute;
  background: rgba(#fff, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader::after{
  content: "";
  display: block;
  position: absolute;
  border: 6px solid rgba($primary, 0.3);
  border-top: 6px solid $primary;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}