body{
  background: $cream;
  font-family: 'Roboto', sans-serif;
}
.content-layout{
  position: relative;
  margin-left: 260px;
  padding: 1rem;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  &.wide{
    margin-left: 80px !important;
  }
}