.card{
  @apply w-full p-5 rounded-lg bg-white;
  box-shadow: 2px 3px 12px -8px $primary;
}

.img-profile{
  @apply rounded-full h-auto overflow-hidden;
  box-shadow: 2px 3px 12px -8px $primary;
}

.btn{
  @apply rounded-md font-bold py-2 px-4;
  font-family: Rubik;
  width: max-content;
}

.btn-icon{
  @apply rounded-full text-primary-500 inline-block text-center;
  line-height: 30px;
  height: 30px;
  width: 30px;
  &:hover{
    @apply bg-purple-200;
  }


}

.btn-primary{
  @apply text-cream;
  background:  linear-gradient(90deg, $primary 0%, #5443C3 55.73%, #8076BC 100%);
  font-size: 15px;
  letter-spacing: 0.4px;
}