.vertical-nav-menu{
  @apply fixed w-full bg-violet transition duration-700 ease-in-out;
  max-width: 225px;
  height: 100vh;
  padding: 1rem;
  border-radius: 0px 25px 25px 0px;
  box-shadow: 3px 3px 15px rgba($primary, 0.41);
  transform: translateX(-280px);
  z-index: 3;
  &.reduced{
    max-width: 80px;
  }
  &.menu-show{
    transform: translateX(0);
  }
}

.nav-menu-button{
  @apply text-primary-500 bg-white shadow-md text-lg px-2 ml-2 rounded-md;
}

.menu-title{
  @apply font-bold text-2xl text-cream pl-0 text-center;
  font-family: 'Rubik', sans-serif;
}

.menu-content{
  @apply mt-16;
  min-height: 280px;
}

.menu-item{
  @apply rounded-md mb-4 px-3 py-2 text-left inline-block w-full;
  &:not(.active){
    @apply text-cream;
  }
  &.active{
    @apply text-primary-500;
    background: linear-gradient(to left, rgba(224, 219, 255, 0.6) 20%,#dce1ff);
    box-shadow: inset 1px 1px 10px 1px rgba($violet,0.8),
                inset -1px -1px 10px 2px rgba($cream,0.8);
  }
}

.vertical-scroll{
  @apply overflow-y-auto;
}

@screen lg{
  .vertical-nav-menu{
    transform: translateX(0px);
  }
}